
<table>
  <tr>
    <th>Original</th>
    <th>Translated</th>
    <th>Review date</th>
  </tr>
 
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date.to_formatted_s(:rfc822) %></td>
      <td><%= link_to "edit card", edit_card_path(card) %></td>
      <td><%= link_to "delete card", card_path(card), method: :delete %></td>
    </tr>
  <% end %>
</table>